  .el-card__body{
      position: relative;
  }
  .el-menu-demo{
      width: 400px;
      float: right;
      position: absolute;
      right: 0;
      top: -40px;
      height: 40px;
      background: transparent;
  }
  .el-menu.el-menu--horizontal{
      border: none;
  }
  .el-menu--horizontal > .el-menu-item{
      height: 40px;
      line-height: 40px;
      float: right;
  }
  .el-menu--horizontal > .el-menu-item:first-child{
      margin-right: 20px;
  }
  .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus{
      background: transparent;
  }
  .el-menu--horizontal > .is-active:not(.is-disabled):hover{
    background-color: #fff;
  }
 .el-menu--horizontal > .el-menu-item>a{
      text-decoration: none;
      display: inline-block
  }
  .el-menu--horizontal>.is-active{
    border: 1px solid ;
    border-radius: 5px 5px 0 0;
    border-color: #ccc #ccc transparent #ccc;
    
    background: #fff;
  }
  .el-menu--horizontal > .el-menu-item.is-active{
      border-bottom:none;
  }
 .el-menu-item{
      padding: 0;
  }
.el-menu-item>a{
      padding:0 10px;
  }